ultralytics==8.3.111
ultralytics-thop==2.0.14
torch==2.5.1+cu121
torch-geometric==2.6.1
torch-summary==1.4.5
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
matplotlib==3.9.0
matplotlib-inline==0.1.7